.minicard {
  display: block;
  height: 10.5vh;
  width: 8vh;
  border-radius: 1.5vh;
}

.minicard .imagebackground {
  background-size: cover;
  background-position: center center;
  height: 10.5vh;
  width: 8vh;
  display: block;
  border: rgb(0, 0, 0) 0.5vh solid;
  border-radius: 1vh;
}

.minicard .soulwrapper {
  display: flex;
  flex-direction: column;
  margin-top: -9.8vh;
  margin-left: 0.6vh;
}

.minicard .soulcost {
  position: relative;
  float: left;
  text-align: center;
  border-radius: 1vh;
  height: 1vh;
  width: 1vh;
  margin-top: 0.1vh;
  background: rgb(248, 248, 248);
  box-shadow: inset 0vh 0vh 0.3vh 0.1vh black;
  border: groove 1px solid darkgray;
}

.minicard .health {
  display: block;
  position: absolute;
  text-align: center;

  border-radius: 0.6vh;
  height: 2vh;
  width: 2vh;
  margin-left: 6vh;
  margin-top: -0vh;

  font-size: 1.4vh;
  border: silver solid 0.1vh;
  border-style: groove;
}

.minicard .slot1 {
  position: absolute;
  text-align: center;
  margin-top: -4vh;
  font-size: 1.2vh;
  height: 1.4vh;
  border-radius: 0.2vh;
  color: black;
  box-shadow: 0vh 0vh 0.5vh black;
}

.minicard .slot1::before {
  padding: 0.5vh;
  font-style: none;
}

.minicard .health::before {
  position: relative;
  top: 0.2vh;
}

.blue.minicard .health {
  background: #4a5d73;
  color: white;
}

.green.minicard .health {
  background: #4c733e;
  color: white;
}

.purple.minicard .health {
  background: #734a69;
  color: white;
}

.red.minicard .health {
  background: #9c5252;
  color: white;
}

.minicard > .Aura {
  background: var(--Aura-color);
}
.minicard > .Ability {
  background: var(--Ability-color);
}
.minicard > .Assertion {
  background: var(--Assertion-color);
}

.tag.spell::before {
  content: "Spell";
  padding: 0.2vh;
  height: 1vh;
  font-size: 1vh;
  border-radius: 0.4vh;
  position: absolute;
  margin-top: -10.2vh;
  margin-left: 5vh;
  box-shadow: inset 1vh 1vh 1.7vh -0.3vh rgba(0, 0, 0, 0.21);
  border: silver solid 0.1vh;
  color: white;
}
